//* =================================================================
//*   Reset Style
//* =================================================================
@import "ress";

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:focus
*:focus {
  outline: none;
}

//* =================================================================
//*   Common Style
//* =================================================================

#app {
  width: 100%;
  height: 100vh;

}

*{
  color:#555;
  font-family: -apple-system,Segoe UI,Helvetica Neue,Hiragino Kaku Gothic ProN,"メイリオ",meiryo,sans-serif;
}

.title{
  font-weight: bold;
}

.title{
  font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"]{
  border-bottom: 1px solid #bbb;
  padding: 0 16px;
  width: 100%;
  height:40px;

  &::placeholder{
    color:#bbb;
  }

  &:focus{
    outline: none;
    border-bottom: 1px solid #555;
  }

}

.button{
  display: block;
  width: 100%;
  text-align: center;
  height:40px;
  line-height: 40px;
  color: #FFF;
  background:  #555;
  border-radius: 8px;
}


